#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #4EB883;
}

.badge-success {
    background-color: #4EB883;
}